{% render 'partials/head.liquid', title: 'Watchlist' %}

<section class="watchlist-banner">
    {% render 'partials/breadcrumbs.liquid', breadcrumb_title: 'Watchlist', breadcrumb_url: '/watchlist' %}

    <h1>Watchlist</h1>
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Enim ipsum non egestas; primis luctus cubilia. Donec ut
        venenatis.</p>
</section>

<section class="watchlist width-top-btm">
    <h2>Watch later</h2>
    <div class="divider"></div>

    {% if webinars and webinars.size > 0 %}
    {% render 'partials/webinar-card.liquid', webinars: webinars, watchlistIds: watchlistIds %}
    {% else %}
    <div class="fallback-webinars">
        <img src="/assets/no-webinars-icon.svg" alt="">
        <p>There are no webinars added to your watch later list. Go to <a href="/webinars">webinars</a> to add some to your watchlist.</p>
    </div>
    {% endif %}
</section>

{% render 'partials/foot.liquid' %}