* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "VagRundschrift";
    src: url(/fonts/vagrundschriftd.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url(/fonts/lato-regular.ttf) format('truetype');
    font-display: swap;
}

body {
    /* ---------- Kleuren ---------- */
    --primary-background-color: #6b0025;
    --secondary-background-color: #f0e4e8;
    --third-background-color-alt: #fff;
    --primary-highlight-color: #6b0025;
    --secondary-highlight-color: #d1b2bd;
    --third-highlight-color: #1F000B;

    --primary-text-color: #000;
    --secondary-text-color: #fff;

    /* ---------- Fonts ---------- */
    --font-paragraph: "Lato", sans-serif;
    --heading-font: "VagRundschrift",
        sans-serif;

    /* ---------- Border radius ---------- */
    --border-radius-sm: 6px;
    --border-radius-md: 12px;
    --border-nav: 3px solid var(--primary-background-color);
}

ul li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 400;
}

h1 {
    font-size: clamp(2.1875rem, 1.9022rem + 1.3043vw, 2.725rem);
    line-height: 115%;
}

h2 {
    font-size: clamp(1.5rem, 1.6rem + 0.7143vw, 1.8rem);
    line-height: 110%;
}

h3 {
    font-size: clamp(1.125rem, 1.0826rem + 0.1786vw, 1.25rem);
    line-height: 115%;
}

h4 {
    font-size: clamp(1.25rem, 1.0846rem + 0.8824vw, 1.5rem);
    line-height: 118%;
}

h5 {
    font-size: clamp(1.125rem, 0.9926rem + 0.7059vw, 1.875rem);
    line-height: 118%;
}

h6 {
    font-size: clamp(1rem, 0.9007rem + 0.5294vw, 1.5625rem);
    line-height: 118%;
}

p {
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    line-height: 180%;
    font-family: var(--font-paragraph);
    color: var(--primary-text-color);
}

:focus {
    outline: var(--focus);
    border-radius: var(--border-radius-sm);
}

:focus:not(:focus-visible) {
    outline: 0;
}

/* ---------------------------------- Classes kleuren -------------------------------- */

.primary-background {
    background-color: var(--primary-background-color);
}

.secondary-background {
    background-color: var(--secondary-background-color);
}

.primary-highlight {
    background-color: var(--primary-highlight-color);
}

.secondary-highlight {
    background-color: var(--secondary-highlight-color);
}

.third-highlight {
    background-color: var(--third-highlight-color);
}

.primary-text {
    color: var(--primary-text-color);
}

.secondary-text {
    color: var(--secondary-text-color);
}

/* ---------------------------------- List elementen -------------------------------- */

ul {
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    line-height: 200%;
    font-family: var(--font-paragraph);
}

ul li {
    list-style-type: none;
}

ol {
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    line-height: 140%;
    font-family: var(--font-paragraph);
}

/* ---------------------------------- Formulier -------------------------------- */

input {
    background-color: var(--secondary-text-color);
    border: none;
    padding: .9em;
    border-radius: var(--border-radius-sm);
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    font-family: var(--font-paragraph);
    color: var(--primary-text-color);

    &::placeholder {
        color: var(--primary-text-color);
    }
}

.search {
    width: 100%;
}

/* ---------------------------------- Knoppen -------------------------------- */

button {
    cursor: pointer;
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    font-family: var(--font-paragraph);
    color: var(--primary-text-color);
    transition: transform ease-in-out .2s;
    text-decoration: none;
    border: none;
}

a {
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    font-family: var(--font-paragraph);
    color: var(--primary-text-color);
    transition: transform ease-in-out .2s;
    text-decoration: none;
}

.filter-link {
    background-color: var(--secondary-highlight-color);
    color: var(--primary-text-color);
    border-radius: var(--border-radius-md);
    padding: .8em 1.3em .8em 1.3em;
    font-family: var(--font-paragraph);
    text-transform: capitalize;

    &:hover {
        color: var(--secondary-text-color);
        background-color: var(--primary-background-color);
        transition: ease-in-out .2s;
    }
}

.back-link {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;

    background-color: var(--primary-background-color);
    color: var(--secondary-text-color);
    border-radius: var(--border-radius-md);
    padding: .8em 1.3em .8em 1.3em;
    width: 10.4em;

    &:hover {
        background-color: var(--secondary-highlight-color);
        color: var(--primary-text-color);
        transition: ease-in-out .2s;
    }

    &:hover svg {
        fill: var(--primary-text-color);
    }

    svg {
        fill: var(--secondary-text-color);
    }
}

.transcript-link {
    background-color: var(--primary-background-color);
    color: var(--secondary-text-color);
    border-radius: var(--border-radius-md);
    padding: .8em 1.3em .8em 1.3em;

    img {
        width: 1.2em;
    }

    &:hover {
        background-color: var(--secondary-highlight-color);
        color: var(--primary-text-color);
        transition: ease-in-out .2s;
    }
}

.read-more-link {
    background-color: var(--primary-background-color);
    color: var(--secondary-text-color);
    border-radius: var(--border-radius-md);
    padding: .8em 1.3em .8em 1.3em;
    width: 8em;

    &:hover {
        background-color: var(--secondary-highlight-color);
        color: var(--primary-text-color);
        transition: ease-in-out .2s;
    }
}

.red-link {
    background-color: var(--primary-background-color);
    color: var(--secondary-text-color);
    border-radius: var(--border-radius-md);
    padding: .8em 1.3em .8em 1.3em;
    align-self: flex-start;

    &:hover {
        background-color: var(--secondary-highlight-color);
        color: var(--primary-text-color);
        transition: ease-in-out .2s;
    }
}

/* ---------------------------------- Width van alle contentblokken -------------------------------- */

.width-top-btm {
    padding: 3.5em 1em 3.5em 1em;

    @media screen and (min-width: 920px) {
        padding: 4.5em 3em 4.5em 3em;
    }

    @media screen and (min-width: 1120px) {
        padding: 5em 7em 5em 7em;
    }

    @media screen and (min-width: 1600px) {
        padding: 4em 4em 4em 4em;
    }
}

/* Width met padding onder */
.width-btm {
    padding: 0em 1em 3.5em 1em;

    @media screen and (min-width: 920px) {
        padding: 0em 3em 4.5em 3em;
    }

    @media screen and (min-width: 1120px) {
        padding: 0em 7em 5em 7em;
    }

    @media screen and (min-width: 1600px) {
        padding: 0em 4em 4em 4em;
    }
}

/* Width met padding boven */
.width-top {
    padding: 3.5em 1em 0em 1em;

    @media screen and (min-width: 920px) {
        padding: 4.5em 3em 0em 3em;
    }

    @media screen and (min-width: 1120px) {
        padding: 5em 7em 0em 7em;
    }

    @media screen and (min-width: 1600px) {
        padding: 4em 4em 0em 4em;
    }
}

/* Width met geen padding boven en onder */
.width {
    padding: .8em 1em .8em 1em;

    @media screen and (min-width: 920px) {
        padding: .8em 3em .8em 3em;
    }

    @media screen and (min-width: 1120px) {
        padding: .8em 7em .8em 7em;
    }

    @media screen and (min-width: 1600px) {
        padding: .8em 4em .8em 4em;
    }
}